{% extends "post/base.html" %}

{% block title %}

<title>Blogs</title>
  
{% endblock title %}

{% block content %}


<div class="cd-section" id="blogs">
  <!--     *********     BLOGS 1      *********      -->
  <!-- <div class="blogs-1" id="blogs-1">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <br>

          {% for object in object_list %}
          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-5">
                <div class="card-header card-header-image">
                  <a href="{% url 'blog:detail' pk=object.pk %}">
                    <img class="img" src="{{object.image.url}}">
                  </a>
                </div>
              </div>
              <div class="col-md-7">
                <h3 class="card-title">
                  <a href="{% url 'blog:detail' pk=object.pk %}">{{ object.title }}</a>
                </h3>
                <p class="card-description">
                  {{ object.body|truncatewords:50 }}
                  <a href="{% url 'blog:detail' pk=object.pk %}"> Read More </a>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}

          <div class="card card-plain card-blog">
              <div class="row">
                <div class="col-md-7">
                  <h6 class="card-category text-danger">
                    <i class="material-icons">trending_up</i> Trending
                  </h6>
                  <h3 class="card-title">
                    <a href="#pablo">6 insights into the French Fashion landscape</a>
                  </h3>
                  <p class="card-description">
                    Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses. Today, it’s moving to a subscription model. Yet its own business model disruption is only part of the story — and…
                    <a href="#pablo"> Read More </a>
                  </p>
                  <p class="author">
                    by
                    <a href="#pablo">
                      <b>Mike Butcher</b>
                    </a>, 2 days ago
                  </p>
                </div>
                <div class="col-md-5">
                  <div class="card-header card-header-image">
                    <img class="img img-raised" src="./assets/img/office2.jpg">
                  </div>
          </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

  <div class="container"><br><br>
    <div class="row">

      <div class="col-md-12">
        <h2 class="title text-center">Blog Posts</h2>
        <div class="row">
          {% for object in object_list reversed %}
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-header card-header-image">
                <a href="{% url 'blog:detail' pk=object.pk %}">
                  <img class="img img-raised" src="{{object.image.url}}">
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'blog:detail' pk=object.pk %}">{{ object.title }}</a>
                </h4>
                <p class="card-description">{{ object.body|truncatewords:30 }}<a href="{% url 'blog:detail' pk=object.pk %}"> Read More </a>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}